

.container
{
	padding: 15px 25px;
}

.col-padding
{
	margin-top: 30px;
	margin-bottom: 30px;
}

p
{
	font-size: 1.2rem;
}

.h4
{
	margin-top: 20px;
}

.h2, .h3, .h4
{
	margin-bottom: 25px;
}

label
{
	margin-bottom: 5px;
}

input, select, div.form-check
{
	margin-bottom: 25px;
}
